/* Navbar.css */
.navbar {
    background-color: #2d3748;
    padding: 1rem;
  }
  
  .navbar-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem; /* Adjust as needed */
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: #cbd5e0;
    margin-right: 1rem; /* Adjust as needed */
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  